<div class="container-fluid">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="container">
                <div class="card">
                    <form [formGroup]="customerForm">
                        <label class="control-label" for="item">Frist name</label>
                        <input formControlName="firstName" class="form-control" id="firstName">
                    
                        <label class="control-label" for="item">Last name</label>
                        <input formControlName="lastName" class="form-control" id="lastName">
                    
                        <label class="control-label" for="item">Email</label>
                        <input formControlName="email" class="form-control" id="email">
                    
                        <div class="button-container">
                          <button class="btn btn-secondary" type="submit" (click)="onUpdate()">Update</button>
                        </div>
                      </form>
                </div>
            </div>
        <div class="col-md-3"></div>
    </div>
  </div>