
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="container">
      <div class="card" >
        <div class="witaj">Welcome Back</div>

        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
          <div class="form-group">
            <div class="text" style="text-align:center; margin-top:10px">
              Enter your details to log in
            </div>
            <div class="text" style="text-align:center; margin-bottom: 10px">
              to your account.
            </div>
            <label for="username">Username</label>
            <input style="background-color: transparent; border-color: #007BCE; border-width: 2px;" type="text" class="form-control" name="username" [(ngModel)]="email" required
                   #username="ngModel" />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input style="background-color: transparent; border-color: #007BCE; border-width: 2px;" type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block" style="background-color: #007BCE;">
              Login
            </button>
          </div>



          <input type="checkbox"> Remember password
        </form>
      </div>
    </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
