.card {
  background-image: url('loginbg.png');
  background-color: transparent;
  background-size: cover;
  border: none !important;
  padding: 40px;
  margin-top: 20px;
  border-radius: 5%;

}

.witaj {
  text-align: center;
  font-size: 30px;
  color: #007BCE;
  margin: 20px;
  margin-bottom: 0px;
}

