<h3>Add customer:</h3>
<div>
  <form [formGroup]="customerForm">

    <label>First name</label>
    <input formControlName="firstName" class="form-control">

    <label>Last name</label>
    <input formControlName="lastName" class="form-control">

    <label>Country</label>
    <input formControlName="country" class="form-control">

    <label>Region</label>
    <input formControlName="region" class="form-control">

    <label>City</label>
    <input formControlName="city" class="form-control">

    <label>Postal code</label>
    <input formControlName="postalCode" class="form-control">

    <label>Street</label>
    <input formControlName="street" class="form-control">

    <label>Apartment</label>
    <input formControlName="apartment" class="form-control">

    <label>Phone number</label>
    <input formControlName="phoneNumber" class="form-control">

    <label>Email</label>
    <input formControlName="email" class="form-control">

    <div class="button-container">
      <button class="btn btn-secondary" type="submit" (click)="addCustomer()">Submit</button>
    </div>
  </form>
</div>