
    <div class="row" style="width: 100%; justify-content: center; margin-bottom: 30px;">
      <h1>Welcome to the menu, choose what you will do</h1>
    </div>

    <div class="row">
      <button class="col button">
        <div class="image-title-container">
          <img [src]="A" style="height: 40px; width: 40px;" class="mr-3">
          <div class="title-container">
            <div class="title-text">Customer</div>
            <div class="title-description">View list of customers</div>
          </div>
        </div>
      </button>
      <button class="col button">
        <div class="image-title-container">
          <img [src]="A" style="height: 40px; width: 40px;" class="mr-3">
          <div class="title-container">
            <div class="title-text">Item</div>
            <div class="title-description">View list of items</div>
          </div>
        </div>
      </button>
      <button class="col button">
        <div class="image-title-container">
          <img [src]="A" style="height: 40px; width: 40px;" class="mr-3">
          <div class="title-container">
            <div class="title-text">Employee</div>
            <div class="title-description">View list of items</div>
          </div>
        </div>
      </button>
    </div>
    <div class="row">
      <button class="col button">
        <div class="image-title-container">
          <img [src]="B" style="height: 40px; width: 40px;" class="mr-3">
          <div class="title-container">
            <div class="title-text">Customer</div>
            <div class="title-description">Add customer</div>
          </div>
        </div>
      </button>
      <button class="col button">
        <div class="image-title-container">
          <img [src]="B" style="height: 40px; width: 40px;" class="mr-3">
          <div class="title-container">
            <div class="title-text">Item</div>
            <div class="title-description">Add item</div>
          </div>
        </div>
      </button>
      <button class="col button">
        <div class="image-title-container">
          <img [src]="B" style="height: 40px; width: 40px;" class="mr-3">
          <div class="title-container">
            <div class="title-text">Employee</div>
            <div class="title-description">Add employee</div>
          </div>
        </div>
      </button>
    </div>
