.card {
    padding: 20px;
    background-color: #cccccc;
    border-radius: 17px;
    }
    
    .container{
      border: 2px solid #375597; /* set border color to blue */
      border-radius: 20px;
      padding: 5px;
      margin: 5px;
    }

.witaj{
    text-align: center;
    font-size: 30px;
    color:#3479aa;
    margin: 20px
}
